<section class= " footer d-grid text-white fixed-bottom text-center position-relative">

    <div class="pt-2 frow row">
        <div class="col-4 "><h2>LOCATION</h2>
        <p>2215 John Daniel Drive

    </p>
    <p>Clark, MO 65243

    </p>
        </div>

<div class="col-4">
    <h2>AROUND THE WEB
    </h2>
    <ul class="container-fluid d-flex justify-content-center text-center list-unstyled">
        <li><i class="fa-brands fa-facebook fa-1x me-3" style="color: #fafcff;"></i></li>
        <li><i class="fa-brands fa-twitter fa-1x me-3" style="color: #fafcff;"></i></li>
        <li><i class="fa-brands fa-linkedin-in fa-circle fa-1x me-3" style="color: #fafcff;"></i></li>
        <li><i class="fa-solid fa-globe  fa-1x" style="color: #fafcff;"></i></li>
    </ul>
</div>
<div class="col-4 text-center">
    <h2 class="">ABOUT FREELANCER

    </h2>
    <p class="">Freelance is a free to use, licensed Bootstrap theme created by Route

    </p>
</div>


    </div>
    <div class="position-relative copy row p-2 text-center fixed-bottom ">
        <p>Copyright © Your Website 2021</p>

    </div>
</section>